USE [master]
GO
/****** Object:  Database [UniversityDBbatch49]    Script Date: 28-Feb-21 11:52:54 AM ******/
CREATE DATABASE [UniversityDBbatch49]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDBbatch49', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversityDBbatch49.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityDBbatch49_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversityDBbatch49_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDBbatch49].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDBbatch49]
GO
/****** Object:  Table [dbo].[Student_tb]    Script Date: 28-Feb-21 11:52:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](50) NULL,
	[RegNo] [int] NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
 CONSTRAINT [PK_Student_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student_tb] ON 

INSERT [dbo].[Student_tb] ([Id], [StudentName], [RegNo], [Email], [Address], [Department]) VALUES (2, N'Md. Forhad Hossen', 1001, N'forhad@gmail.com', N'Dhaka', N'EEE')
INSERT [dbo].[Student_tb] ([Id], [StudentName], [RegNo], [Email], [Address], [Department]) VALUES (4, N'Md. Masum Billah', 1001, N'masum.apfbd@gmail.com', N'Dhaka', N'CSE')
SET IDENTITY_INSERT [dbo].[Student_tb] OFF
GO
USE [master]
GO
